* {
  margin: 0;
  padding: 0;
}

/*---------navsecion-------*/



.hero-section {
  position: relative;
  color: #fff;
}
#branding img{
  width: 200px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover{
  text-decoration-line: underline;
  color: #fff;
  font-weight: bold;
}

header li {
  list-style: none;
}

.nav-container {
  display: flex;
  text-decoration: none;
  gap: 55px;
  margin-top: 25px;
}
.nav-container a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 50px;
}
.nav-container a:hover{
  text-decoration: underline;
}

.highlight {
  color: blue;
}

.services-image {
  position: absolute;
  /* top: 60px; */
  z-index: -10;
  width: 100%;
  height: 500px;
  /* object-fit: cover; */
  margin-top: 60px;
}
.header{
  font-size: 70px;
  color: #ffffff;
  /* margin-left: 50px; */
  margin-top: 200px;
  font-weight: 500px;
}
.button{
  background-color: rgb(255, 140, 0);
  border-radius: 50px;
  width: 139px;
  color: #ffffff;
  height: 44px;
  
  font-size: 15px;
  border: none;
  margin-top: 8px;
}
.button:hover{
  background-color: rgb(212, 117, 0);
  cursor: pointer;
}

/*----------img-icon--------*/


.icons{
  display: flex;
  color: #000;
  margin-top: 140px;
  margin-left: 100px;
  gap: 1px;
}


.icons img{
  width: 190px;
  height: 60px;
}

/*-------------section2-----------*/

.section2{
  display: flex;
  gap: 20px;
 
}
.section2 img{
  width: 63%;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 80px;
}
.text{
  margin-top: 150px;
  font-size: 25px;
  margin-left: 15px;
}
.text h1{
 font-size: 60px;
}
.text p{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/*----------section 3----------*/

.sec-3{
  background-color: rgb(129, 0, 215);
  display: flex;
  gap: 30px;

 

}

.section-3 {
display: flex;
gap: 50px;
}

.sec-3 img{
  margin-top: 150px;
  margin-bottom: 100px;
  width: 40%;
  margin-left: 40px;
  border: 20px solid #ffffff;
  border-radius: 300px;
}
.txts{
  margin-top: 350px;
  color: #ffffff;
  margin-left: 25px;
}
.Txt{
  font-family: Arial, Helvetica, sans-serif;
}
.Txt h3{
  font-size: 25px;
  font-weight: 20;
}
.Txt p{
  font-weight: 5;
  color: #ffffff;
}
.txt-1 h1{
  font-size: 60px;
}
.txt-1 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 5;
  color: #ffffff;
}
.txt-2{
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
}
.txt-3{
  margin-top: 20px;
}
.txt-4{
  margin-top: 20px;
}
.txt-5{
  margin-top: 20px;
}

/*------------------section 4--------------*/
.sec-4{
text-align: left;
position: relative;
color: #ffffff;

}

.sec-4 img{
  width: 100%;
  height: 460px;
  object-fit: cover;
 
}
.sec-4-txt {
position: absolute;
margin-top: 100px;
margin-left: 33px;
}

.sec-4-txt p{
  color: #fff;
  font-size: 32px;
  font-weight: 360;
  
}
.yellow-txt h2{
  color: rgb(237, 131, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 41px;
}
.yellow-txt p{
  color: rgb(237, 131, 0);
  font-size: 17px;
  font-weight: 450;
}


/*------------section 5---------*/

.sec-5{
  display: flex;
  gap: 70px;
  margin-top: 160px;
  margin-bottom: 8px;
  margin-left: 70px;
}
.sec-5 h1{
  font-size: 100px;
}
.sec-5 p{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.sec-5-btn{
  background-color: rgb(255, 140, 0);
  border-radius: 50px;
  width: 139px;
  color: #ffffff;
  height: 44px;
  font-size: 15px;
  border: none;
  margin-left: 490px;
  margin-bottom: 120px;
}
.sec-5-btn:hover{
    background-color: rgb(239, 132, 1);
    cursor: pointer;
  }

  /*--------------section 6--------*/


.sec-6{
  display: flex;
}
.sec-6 img{
  width: 420px;
 height: 370px;
 object-fit: cover; 
}
.sec-6-txts{
  display: flex;
  gap: 30px;
  margin-top: -370px;
}
.sec-6-txt{
  color: #fff;
  font-size: 17px;
  position: relative;
  margin-top: 250px;
  font-weight: 495;
}
.sec-6-txt2{
  color: rgb(255, 140, 0);
  position: relative;
  font-weight: 490;
  font-size: 17px;
}
.sec-6-txts{
  display: flex;
}

/*-------------section 7-----------*/

.sec-7{
  /* text-align: center; */
  align-items: center;
}
.sec-7-txt1{
  text-align: center;
  margin-top: 120px;
}
.sec-7-txt1 h1{
  font-size: 60px;
  margin-bottom: 10px;
}
.sec-7-txt1 p{
  color: #000;
  font-weight: 380;
  font-size: 18px;
}
.sec-7-txt2{
  background-color: rgb(157, 0, 255);
  border-radius: 30px;
  height: 250px;
  width: 800px;
 padding-left: 50px;
 padding-top: 30px;
}
.Testimonials{
  display: flex;
  justify-content: center;
}
.txt2-p2{
  margin-right: 340px;
  margin-bottom: 50px;
}
.sec-7-txt2 p{
  color: #fff;
  font-size: 16px;
  font-weight: 450;
  margin-top: 10px;
}
.sec-7-txt2 h2{
  color: #fff;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 80;
  margin-top: 40px;
  margin-right: 340px;
}
.sec-7-txt3{
  position: relative;
}
.work-together{
  position: absolute;
  top: 100px;
  padding-left: 80px;
}
.sec-7-txt3 img{
  width: 800px;
  border-radius: 20px;
  margin-top: 50px;
  height: 300px;
}
.sec-7-txt3 h1{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-bottom: 100px; */
}
.sec-7-btn{
  background-color: rgb(255, 140, 0);
  border-radius: 50px;
  width: 139px;
  color: #ffffff;
  height: 44px;
  font-size: 15px;
  border: none;
  margin-top: 20px;
}
.sec-7-btn:hover{
  background-color: rgb(239, 132, 1);
  cursor: pointer;
 
}







.contain{
 max-width: 1200px;
 margin: auto;
}

.services-heading{
  color: #fff;
  margin-top: 160px;
  margin-left: 60px;
  font-size: 23px;
  font-weight: bolder;
}

div p{
  color: rgb(255, 132, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.service-img{
  border-radius: 18px;
  background-image: url(images/servicedescimg.png);
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 94%;
  margin-top: 185px;
  margin-left: 40px;
}

.services-content{
  margin-left: 120px;
  margin-top: -180px;
  /* display: flex; */
  color: #fff;
  font-size: x-large;
}

.sp{
  font-size: 17px;
  margin-left: 170px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -80px;
  line-height: 25px 
  
}



.b1{
  border: 1px solid rgb(225, 225, 225);
  width: 300px;
  padding: 40px;
  border-radius: 15px;
} 

.service-boxes {
display: flex;
gap: 20px;
margin-top: 20px;

}

.box-logo{
height: 68px;
margin-top: -20px;
}

.box-heading{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size: 25px;
margin-top: 10px;
}

.box-paragraph{
color: #000;
margin-top: 18px;
font-size: 17px;
font-weight: 330;
}

.all-boxes{
margin-top: 128px;
}

.b1{
height: 330px;
}

.futa-box{
/* border: 1px solid black; */
margin-top: 20px;
height: 300px;
}

.futa-logo{
  height: 60px;
  margin-left: 50px;
  margin-top: 10px;
}

.futa-header{
margin-top: -40px;
font-family: sans-serif;
font-weight: 540;
font-size: large;

}

.futa-paragraph{
color: #000;
font-family: sans-serif;
font-size: 14px;
line-height: 30px;
}

.first-roll{
margin-left: 930px;
line-height: 35px;
text-decoration: none;
text-decoration-line: none;
font-size: large;
}

.second-roll{
margin-left: 1100px;
line-height: 35px;
text-decoration: none;
text-decoration-line: none;
margin-top: -210px;
font-size: large;
}

.futa-links a{
text-decoration: none;
}

.futa-links li{
list-style: none;
}

.copywrite{
padding-top: 20px;
}

.project-image{
   position: absolute;
  /* top: 60px; */
  z-index: -10;
  width: 100%;
  height: 500px;
  /* object-fit: cover; */
  margin-top: 60px;
}

.empowering-change-section{
  margin-top: 310px;
  display: flex;
  gap: 40px;
  margin-left: 90px;
}

.empowering-change{
  font-size: 60px;
}

.empowering-change-paragraph{
  color: #000;
  font-weight: 50;
  font-family: sans-serif;
  line-height: 25px;
  font-size: medium;
  word-spacing: 1px;

}

.project-image-set1{
  display: flex;
  width: 00px;
  height: 480px;
  gap: 40px;
  margin-top: 60px;
  margin-left: 15px;
}

.project-image-set2{
  display: flex;
  width: 00px;
  height: 480px;
  gap: 40px;
  margin-top: 40px;
  margin-left: 15px;
}
