* {
    margin: 0;
    padding: 0;
  }

  /*---------navsecion-------*/


  .hero-section {
    position: relative;
  }
  
  
  .container {
    max-width: 1200px;
    margin: auto;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  
  }
  
  header a {
    color: #000;
    text-decoration: none;
  }

  header a:hover{
    text-decoration-line: underline;
    color: blue;
  }

  header li {
    list-style: none;
  }
  
  .nav-container {
    display: flex;
    text-decoration: none;
    gap: 55px;
    margin-top: 25px;
  }
  .nav-container a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
  }
  .nav-container a:hover{
    text-decoration: underline;
  }
  
  .highlight {
    color: blue;
  }
  
  .hero-image {
    position: absolute;
    top: 60px;
    z-index: -10;
    width: 100%;

 
    
  }
  .header{
    font-size: 70px;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 200px;
    font-weight: 500px;
  }
  .button{
    background-color: rgb(255, 140, 0);
    border-radius: 50px;
    width: 139px;
    color: #ffffff;
    height: 44px;
    margin-left: 50px;
    font-size: 15px;
    border: none;
    margin-top: 8px;
  }
  .button:hover{
    background-color: rgb(212, 117, 0);
    cursor: pointer;
  }

  /*----------img-icon--------*/

  
  .icons{
    display: flex;
    color: #000;
    margin-top: 360px;
    margin-left: 100px;
    gap: 1px;
  }
  .icons img{
    width: 190px;
    height: 60px;
  }

  /*-------------section2-----------*/

  .section2{
    display: flex;
    gap: 20px;
   
  }
  .section2 img{
    width: 63%;
    margin-top: 50px;
    margin-right: 20px;
  }
  .text{
    margin-top: 150px;
    font-size: 25px;
    margin-left: 40px;
  }
  .text h1{
   font-size: 60px;
  }
  .text p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*----------section 3----------*/

  .sec-3{
    background-color: rgb(129, 0, 215);
    display: flex;
    gap: 30px;
  }
  .sec-3 img{
    margin-top: 150px;
    width: 40%;
    margin-left: 40px;
    border: 20px solid #ffffff;
    border-radius: 90px;
  }
  .txts{
    margin-top: 350px;
    color: #ffffff;
    margin-left: 25px;
  }
  .Txt{
    font-family: Arial, Helvetica, sans-serif;
  }
  .Txt h3{
    font-size: 25px;
    font-weight: 20;
  }
  .Txt p{
    font-weight: 5;
  }
  .txt-1 h1{
    font-size: 60px;
  }
  .txt-1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 5;
  }
  .txt-2{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .txt-3{
    margin-top: 20px;
  }
  .txt-4{
    margin-top: 20px;
  }
  .txt-5{
    margin-top: 20px;
  }

  /*------------------section 4--------------*/
.sec-4{
  text-align: left;
  position: relative;
  color: #ffffff;
}
  .sec-4 img{
    width: 100%;
   
  }
  .sec-4-txt p{
    color: #989393;
  }
  .yellow-txt h2{
    color: orangered;
  }
  .yellow-txt p{
    color: orangered;
  }
  .sec-4-txt{
   
  }


=======
    height: 480px;
  }

  .contain{
   max-width: 1200px;
   margin: auto;
  }

  .services-heading{
    color: #fff;
    margin-top: 160px;
    margin-left: 60px;
    font-size: 23px;
    font-weight: bolder;
  }
  
  div p{
    color: rgb(255, 132, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 18px;
  }

  .service-img{
    border-radius: 18px;
    background-image: url(images/servicedescimg.png);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 94%;
    margin-top: 180px;
    margin-left: 40px;
  }

  .services-content{
    margin-top: -180px;
    margin-left: 120px;
    display: flex;
    gap: 50px;
    color: #fff;
    font-size: x-large;
  }

  .sp{
    font-size: 17px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -40px;
    line-height: 25px 
  }

  /* .service-buttom{
    display: flex;
    margin-top: 130px;
    padding: 50px;
   border: 1px solid black;
   justify-content: space-evenly;
  } */

  .b1{
    margin-left: 40px;
    margin-top: 130px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 40px;
    border-radius: 15px;
  } 

  .b2{
    margin-left: 445px;
    margin-top: -380px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 40px;
    border-radius: 15px;
  }

  .b3{
    margin-left: 850px;
    margin-top: -380px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 40px;
    border-radius: 15px;
  }


  